[flake8]
max-complexity = 6
inline-quotes = double
max-line-length = 88
extend-ignore = E203
docstring_style=sphinx

ignore =
  ; Found a line that starts with a dot
  WPS348,
  ; Found overly complex type annotation
  WPS234,
  ; `noqa` comments overuse ))))
  WPS402,
  ; Found `%` string formatting
  WPS323,
  ; Found block variable overlap.
  WPS440,
  ; Found multi-line function type annotation
  WPS320,
  ; Found statement that has no effect
  WPS428,
  ; Found wrong variable name
  WPS110,
  ; Found unpythonic getter or setter
  WPS615,
  ; Found `f` string
  WPS305,
  ; Missing docstring in public module
  D100,
  ; Missing docstring in magic method
  D105,
  ; Missing docstring in __init__
  D107,
  ; Found class without a base class
  WPS306,
  ; Missing docstring in public nested class
  D106,
  ; First line should be in imperative mood
  D401,
  ; Found `__init__.py` module with logic
  WPS412,
  ; Found implicit string concatenation
  WPS326,
  ; Found string constant over-use
  WPS226,
  ; Found upper-case constant in a class
  WPS115,
  ; Found nested function
  WPS430,
  ; Found using `@staticmethod`
  WPS602,
  ; Found method without arguments
  WPS605,
  ; Found overused expression
  WPS204,
  ; Found too many module members
  WPS202,
  ; Found too high module cognitive complexity
  WPS232,
  ; line break before binary operator
  W503,
  ; Found module with too many imports
  WPS201,
  ; Found vague import that may cause confusion: X
  WPS347,
  ; Inline strong start-string without end-string.
  RST210,
  ; subprocess call with shell=True seems safe, but may be changed in the future.
  S602,
  ; Starting a process with a partial executable path.
  S607,
  ; Consider possible security implications associated with subprocess module.
  S404,
  ; Found nested class
  WPS431,
  ; Found wrong module name
  WPS100,
  ; Found too many methods
  WPS214,
  ; Found too long ``try`` body
  WPS229,
  ; Found function with too much cognitive complexity
  WPS231,
  ; Found too deep nesting
  WPS220,
  ; Found line with high Jones Complexity
  WPS221,
  ; function name should be lowercase
  N802,
  ; Do not perform function calls in argument defaults.
  B008,

  ; all init files
  __init__.py:
  ; ignore not used imports
  F401,
  ; ignore import with wildcard
  F403,
  ; Found wrong metadata variable
  WPS410,

per-file-ignores =
  ; all tests
  test_*.py,tests.py,tests_*.py,*/tests/*:
  ; Use of assert detected
  S101,
  ; Found magic number
  WPS432,
  ; Missing parameter(s) in Docstring
  DAR101,
  ; Found too short name
  WPS111,
  ; Found complex default value
  WPS404,

exclude =
  ./.git,
  ./venv,
  ./cached_venv,
  ./var,
