[tool.poetry]
name = "taskiq"
version = "0.1.0"
description = "Distributed task queue with full async support"
authors = ["Pavel Kirilin <win10@list.ru>"]
maintainers = ["Pavel Kirilin <win10@list.ru>"]
readme = "README.md"
repository = "https://github.com/taskiq-python/taskiq"
license = "LICENSE"
classifiers = [
    "Typing :: Typed",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Topic :: System :: Networking",
    "Development Status :: 3 - Alpha",
]
homepage = "https://github.com/taskiq-python/taskiq"
keywords = ["taskiq", "tasks", "distributed", "async"]

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = ">=3.10.0.0"
pydantic = "^1.6.2"
pyzmq = { version = "^23.2.0", optional = true }
uvloop = { version = ">=0.16.0,<1", optional = true }
watchdog = "^2.1.9"
gitignore-parser = "^0.1.0"
importlib-metadata = "<4.3"
pycron = "^3.0.0"


[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
black = { version = "^22.6.0", allow-prereleases = true }
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.971"
pre-commit = "^2.20.0"
yesqa = "^1.3.0"
autoflake = "^1.4"
wemake-python-styleguide = "^0.16.1"
coverage = "^6.4.2"
pytest-cov = "^3.0.0"
mock = "^4.0.3"
anyio = "^3.6.1"
pytest-xdist = { version = "^2.5.0", extras = ["psutil"] }
types-mock = "^4.0.15"

[tool.poetry.extras]
zmq = ["pyzmq"]
uv = ["uvloop"]

[tool.poetry.scripts]
taskiq = "taskiq.__main__:main"

[tool.poetry.plugins."taskiq-cli"]
worker = "taskiq.cli.worker.cmd:WorkerCMD"
scheduler = "taskiq.cli.scheduler.cmd:SchedulerCMD"

[tool.mypy]
strict = true
ignore_missing_imports = true
allow_subclassing_any = true
allow_untyped_calls = true
pretty = true
show_error_codes = true
implicit_reexport = true
allow_untyped_decorators = true
warn_return_any = false
warn_unused_ignores = false

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
