[tool.poetry]
name = "taskiq"
version = "0.1.1"
description = "Asynchronous task queue with async support"
authors = ["Pavel Kirilin <win10@list.ru>"]
maintainers = ["Pavel Kirilin <win10@list.ru>"]
readme = "README.md"
repository = "https://github.com/taskiq-python/taskiq"
license = "LICENSE"

[tool.poetry.dependencies]
python = "^3.7"
typing-extensions = ">=3.10.0.0"
pydantic = "^1.6.2"

[tool.poetry.dev-dependencies]
pytest = "^7.1.2"
black = { version = "^22.6.0", allow-prereleases = true }
flake8 = "^4.0.1"
isort = "^5.10.1"
mypy = "^0.971"
pre-commit = "^2.20.0"
yesqa = "^1.3.0"
autoflake = "^1.4"
wemake-python-styleguide = "^0.16.1"
coverage = "^6.4.2"
pytest-cov = "^3.0.0"

[tool.poetry.scripts]
taskiq = "taskiq.__main__:main"

[tool.mypy]
strict = true
ignore_missing_imports = true
allow_subclassing_any = true
allow_untyped_calls = true
pretty = true
show_error_codes = true
implicit_reexport = true
allow_untyped_decorators = true
warn_return_any = false

[tool.isort]
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
