.toggle-navbar-button {
    visibility: hidden;
}

.hero-info-wrapper {
    img {
        max-width: 60% !important;
        padding: 1rem;
    }
}

.actions {
    align-items: flex-end;
}

span.site-name {
    visibility: hidden;
}
