name: Release python package

on:
  release:
    types:
      - released

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: "3.12"
          version: "latest"
      - run: uv version "${GITHUB_REF_NAME}"
      - run: uv build
      - run: uv publish --trusted-publishing always
