name: Release python package

on:
  release:
    types:
      - released

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment:
      name: release
    permissions:
      id-token: write
    env:
      UV_SYSTEM_PYTHON: 1
    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14' 
      - id: setup-uv
        name: Setup UV
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-suffix: '3.14'
          github-token: ${{ github.token }}
          version: "3.14"
      - run: uv version "${GITHUB_REF_NAME}"
      - run: uv build
      - name: Release package
        env:
          UV_PUBLISH_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: uv publish
